---
import HeaderLink from './HeaderLink.astro';
---
<header>
	<nav>
		<ul>
			<li>
				<span class="material-symbols-outlined">menu</span>
				<HeaderLink href="#"></HeaderLink>
				<!-- <HeaderLink href="https://github.com/withastro/astro">GITHUB</HeaderLink> -->
			</li>
		</ul>
		<p>Luis Contreras ING.</p>
	</nav>
</header>
<style>
	.material-symbols-outlined {
		font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
		font-size: 2.6vw;
		margin-right: 7vw;
		color: #c0971c;
		-webkit-text-stroke: 0.7px #f9dd88;
		cursor: pointer;
	}
	header {
		width: 95vw;
		height: 7.4vw;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(5, 5, 0, 0.119);
	}
	h2 {
		margin: 0.5em 0;
	}
	nav{
		width: 30vw;
		height: 30vw;
		background-color: transparent;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	ul{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p{
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fffcf0;
		font-size: 1.8vw;
		font-style: oblique;
		-webkit-text-stroke: 0.8px #d7a409;
	}
	li{
		list-style: none;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
</style>
